h1 Test, facebook-js
form(action: '/message', method: 'post')
  label token
  input(name: 'access_token', value: token && token.access_token)
  br
  label message
  textarea(name: 'message')
  br
  input(type: 'submit') Post

